* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {

    --cbackm: #F6F8F9;
    --caddt: #47ADF1;
    --cedit: #45ABE9;
    --cq1: #9C72E4;
    --crec: #64C0A9;
    --cmob: #F29E33;
    --cweb: #D863A1;
    --csal: #B0C926;
    
}

@font-face{

    font-family:Roboto ;
    src:url(fonts/Roboto/Roboto-Regular.ttf)
}

body {


    background-color:var(--cbackm);
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}



header {

    height: 70px;
    align-items: left;
    background-color: white;

}


.logo{

    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: middle;

}

.logo-test {

    font-size: 38px;
    display: inline;
    vertical-align: middle;

}

.container{

    width: 80%;
    background-color: white;
    padding:1rem 4rem;
    margin: 3rem auto;

}

.buttons-zone {

    padding-bottom:0.5rem ;
    border-bottom: 2px solid var(--cbackm);

}

.buttons{

    margin: 1px;
    padding:0.5rem 1rem;
    border-radius:5px;

}


#clicked-button {

    color:black;
    background-color: var(--caddt);
    border:none;
}

#unclicked-button {

    border: 1px solid lightgray;
    color: black;
    background-color: white
    
}


.task-zone{

    
    margin-top: 40px;
    

}


.border-circle{

height:1.5rem;
width:1.5rem;
display:inline-block;
border: 1px solid;
border-radius:50%;
margin-right: 1rem;
text-align: center;

}


#c-check{

    
    border-color: #68C2AC;
    color:#68C2AC;
    


}

#c-x{

    color:#EF8682;
    border-color: #EF8682;
}



li{

    list-style: none;
    padding-top:1rem;
    
}


#last-li{

    margin-bottom:2rem;

}



.label{

    font-size:0.6rem;
    border-radius:10px;
    padding:0.5rem;
    margin-left:0.5rem;
    color:white;

}

#lab-edit{

    background-color:var(--cedit)

}

#lab-q1{

    background-color: var(--cq1);
}


#lab-rec{

    background-color: var(--crec);
}

#lab-mob{

    background-color: var(--cmob);

}


#lab-web {

    background-color: var(--cweb);
}


#lab-sal {

    background-color: var(--csal);


}
